.icons {
    @apply flex space-x-1 mx-2 transition-all duration-300;
    color: var(--text-secondary);

    & svg {
        @apply px-1 py-px cursor-pointer h-6 w-auto;
        &:hover {
            color: theme('colors.accent-purple');
        }
    }
}

.description {
    @apply mt-2 text-sm break-words line-clamp-2 pr-4;
    color: var(--text-primary);
    font-weight: 700;
    font-family: 'Satoshi', sans-serif;

    & strong {
        color: var(--text-primary);
        @apply font-black break-all;
    }
}
